[Desktop Entry]
Categories=Development;IDE;
Keywords=Code;Eclipse;Editor;Programming;Text;VSCode;
Comment=A modern and open IDE
Exec=theia
Icon=org.eclipse.theia
Name=Theia IDE
Terminal=false
Type=Application
Version=1.0
